.body-container {
    font-family: 'Fira Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 0.4em;
    background-color: rgb(25,25,25);
    text-transform: uppercase;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
